            <ul class="list-unstyled">
              <li>
                <a href="https://www.panxw.com" target="_blank">
                  Savant's Blog
                </a>
              </li>
              <li>
                <a href="http://www.manongjc.com" target="_blank" rel="nofollow">
                  码农教程
                </a>
              </li>	
              <li>
                <a href="http://www.youth168.com" target="_blank" rel="nofollow">
                  青年励志网
                </a>
              </li>
              <li>
                <a href="https://github.com/" target="_blank" rel="nofollow"> 
                  Github
                </a>
              </li>				  
            </ul>
